.property-details{
    padding-top: 2rem;
}

p{
    font-size: 1.2rem;
}

h3{
    padding-top: 1rem;
    color: white;
}
 img{
    display: block;
    margin-left: auto;
    margin-right: auto  
}

.site-section{
    min-height: 81vh;
}

.site-section h1{
    padding-top: 1em;
   text-align: center;
};