<div class="listing-sections" id="properties-section">
    <div class="container">
        <div class="row large-gutters">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4">
                            <img src="https://pic.le-cdn.com/thumbs/1024x768/480/1/properties/Property-271dbe409a43d797301c794040dc6a9a-79647505.jpg"
                                alt="FImageo" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="https://pic.le-cdn.com/thumbs/1024x768/724/1/properties/Property-b7f4bf9335c923784f38bae56ee72c45-82890025.jpg"
                                alt="Image" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5 ">
                <div class="ftco-media-1">
                    <div class="ftco-media-1-inner">
                        <a href="property-single.html" class="d-inline-block mb-4"><img src="https://pic.le-cdn.com/thumbs/1024x768/480/1/properties/Property-f663cc42777d783840fbc4077887fa38-80799865.jpg"
                                alt="Image" class="img-fluid"></a>
                        <div class="ftco-media-details">
                            <h3>HD17 19 Utica Ave.</h3>
                            <p>New York - USA</p>
                            <strong>$20,000,000</strong>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>