
<div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1>Add Property</h1>
        <form #addListingForm="ngForm" (ngSubmit)="addListingHandler(addListingForm.value)">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input #titleInput="ngModel" ngModel name="title" class="form-control" placeholder="Title"
              [class.is-valid]="!titleInput.errors && titleInput.touched"
              [class.is-invalid]="titleInput.errors && titleInput.touched" required pattern="^[\w\s]{3,}$">
            <div *ngIf="titleInput.errors && titleInput.touched" class="invalid-feedback">Input must be least 3
              characters log.</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input #cityInput="ngModel" ngModel name="city" class="form-control" placeholder="City"
              [class.is-valid]="!cityInput.errors && cityInput.touched"
              [class.is-invalid]="cityInput.errors && cityInput.touched" required pattern="^[\w\s]{3,}$">
            <div *ngIf="cityInput.errors && cityInput.touched" class="invalid-feedback">Input must be least 3
              characters log.</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input #imageUrlInput="ngModel" ngModel name="imageUrl" class="form-control" placeholder="Image URL"
              [class.is-valid]="!imageUrlInput.errors && imageUrlInput.touched"
              [class.is-invalid]="imageUrlInput.errors && imageUrlInput.touched" required>
            <div *ngIf="imageUrlInput.errors && imageUrlInput.touched" class="invalid-feedback">Input must be least 3
              characters log.</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input #priceInput="ngModel" ngModel name="price" class="form-control" placeholder="Price"
            type="number" required pattern="^[1-9]\d*$"
              [class.is-valid]="!priceInput.errors && priceInput.touched"
              [class.is-invalid]="priceInput.errors && priceInput.touched">
            <div *ngIf="priceInput.errors && priceInput.touched" class="invalid-feedback">You must enter Price greater than 0</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input #yearOfConstructionInput="ngModel" ngModel name="yearOfConstruction" class="form-control" placeholder="Year of Constuction"
              type="number" required pattern="^[1|2][0-9]{3}$"
              [class.is-valid]="!yearOfConstructionInput.errors && yearOfConstructionInput.touched"
              [class.is-invalid]="yearOfConstructionInput.errors && yearOfConstructionInput.touched">
            <div *ngIf="yearOfConstructionInput.errors && yearOfConstructionInput.touched" class="invalid-feedback">Enter year between 1000 and 2999</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input #addressInput="ngModel" ngModel name="address" class="form-control" placeholder="Address"
              [class.is-valid]="!addressInput.errors && addressInput.touched"
              [class.is-invalid]="addressInput.errors && addressInput.touched" required pattern="^[\w\s]{3,}$">
            <div *ngIf="addressInput.errors && addressInput.touched" class="invalid-feedback">Input must be least 3
              characters log.</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>         
            <textarea #descriptionInput="ngModel" ngModel name="description" class="form-control" placeholder="Description"
               [class.is-valid]="!descriptionInput.errors && descriptionInput.touched"
              [class.is-invalid]="descriptionInput.errors && descriptionInput.touched" required pattern="^[\w\s]{3,}$"></textarea>
            <div *ngIf="descriptionInput.errors && descriptionInput.touched" class="invalid-feedback">Input must be least 3
              characters log.</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input #sizeInput="ngModel" ngModel name="size" class="form-control" placeholder="Size in square meters"
            type="number" required pattern="^[1-9]\d*$"
              [class.is-valid]="!sizeInput.errors && sizeInput.touched"
              [class.is-invalid]="sizeInput.errors && sizeInput.touched">
            <div *ngIf="sizeInput.errors && sizeInput.touched" class="invalid-feedback">You must enter Size greater than 0</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input #roomsInput="ngModel" ngModel name="rooms" class="form-control" placeholder="Rooms"
            type="number" required pattern="^[1-9]\d*$"
              [class.is-valid]="!roomsInput.errors && roomsInput.touched"
              [class.is-invalid]="roomsInput.errors && roomsInput.touched">
            <div *ngIf="roomsInput.errors && roomsInput.touched" class="invalid-feedback">You must enter Rooms greater than 0</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input #floorInput="ngModel" ngModel name="floor" class="form-control" placeholder="Floor"
            type="number" required 
              [class.is-valid]="!floorInput.errors && floorInput.touched"
              [class.is-invalid]="floorInput.errors && floorInput.touched">
            <div *ngIf="floorInput.errors && floorInput.touched" class="invalid-feedback">You must enter Fllor</div>
          </div>
          <div class="form-group">
            <button [disabled]="addListingForm.invalid" type="submit"
              class="btn btn-primary btn-block"> Add Property
            </button>
          </div>
          
        </form>
  
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>

<!-- {{addListingForm.value | json}} -->