<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1>Log in Form</h1>
            <form #loginFrom="ngForm" (ngSubmit)="loginHandler(loginFrom.value)">
                <div class="form-group input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                      </div>
                    <input #usernameInput="ngModel" [ngModel]="username" name="username" class="form-control"
                        [class.is-valid]="!usernameInput.errors && usernameInput.touched"
                        [class.is-invalid]="usernameInput.errors && usernameInput.touched" placeholder="Username"
                        required pattern="\w{3,}">
                    <div *ngIf="usernameInput.errors && usernameInput.touched" class="invalid-feedback">Username must be
                        at least 4 character long</div>

                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                      </div>
                    <input #passwordInput="ngModel" ngModel name="password" class="form-control" placeholder="Password"
                    [class.is-valid]="!passwordInput.errors && passwordInput.touched"
                    [class.is-invalid]="passwordInput.errors && passwordInput.touched"
                        type="password" required minlength="3">
                    <!-- <div *ngIf="!passwordInput.errors && passwordInput.touched" class="valid-feedback">Success! You've
                        done it.</div> -->
                    <div *ngIf="passwordInput.errors && passwordInput.touched" class="invalid-feedback">Password must be
                        at least 4 character long</div>
                </div>
                <div class="form-group">
                    <button [disabled]="loginFrom.invalid" type="submit" class="btn btn-primary btn-block"> Log In
                    </button>
                </div>
                <p class="text-center">Have an account? <a href="">Register</a> </p>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<!-- {{usernameInput.value}}

{{loginFrom.value | json}} -->